@keyframes popUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    margin: 0px;
}

.campus-ambassador-container {
    width: 100vw;
    min-height: 100vh;
    background-image: url('./assets/page3desktop.svg');
    background-size: cover;
    background-position: left;
}

.text-frame {
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 50px;

    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 500px;
}

.text-item {
    padding: 15px;
    border-radius: 12px;
    transition: transform 0.3s ease-in-out;
}

.text-item:hover {
    transform: translateY(-5px);
}

.text-item.animate {
    animation: popUp 0.5s ease-out forwards;
}

.text-item h1 {
    color: #000000;
    text-shadow: 8.593px 12.03px 3.437px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1.8074074268341064px;
    -webkit-text-stroke-color: #FFF;
    font-family: Noto serif;
    font-size: 42.963px;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: 2.148px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.text-item ul, .text-item li {
    color: #000;
    text-align: justify;
    font-family: Noto serif;
    font-size: 18.341px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 5px;
}

#certificate-text,
#leadershipQualities-text,
#freeEntry-text,
#internshipOpportunity-text,
#workshops-text {
    width: 100%;
}

/* #cloud2 {
  width: 167.556px;
  height: 57.57px;
  flex-shrink: 0;
  stroke-width: 3.437px;
  stroke: #595959;
  margin-top: 10px;
} */
#cloud1 {
    width: 167.556px;
    height: 57.57px;
    flex-shrink: 0;
    stroke-width: 3.437px;
    stroke: #595959;
    margin-top: 10px;
    position: absolute;
    top: 89.4px;
    left: 668px;
}

#cloud2 {
    /* width: 167.556px; */
    height: 35.57px;
    flex-shrink: 0;
    stroke-width: 4.437px;
    stroke: #595959;
    margin-top: 10px;
    position: absolute;
    top: 52px;
    right: 380px;
}

/* Media query for mobile view */
@media (max-width: 768px ) and (min-width: 600px) {
    .campus-ambassador-container {
        background-image: url('./assets/page3mobile.svg');
        background-size: cover;
        background-position: center;
        min-height: 100vh;
    }

    .text-frame {
      display: inline-flex;
      flex-direction: column;
      gap: 1px;
        margin-left: 20px;
        margin-top: 50px;
        width: 80%;
      max-height: 100vh;
    }

    .text-item {
        padding: 5px;
        border-radius: 12px;
        transition: transform 0.3s ease-in-out;
    }

    .text-item h1 {
        color: #303030;
        text-shadow: 8.593px 12.03px 3.437px rgba(0, 0, 0, 0.25);
        -webkit-text-stroke-width: 1.0099999904632568px;
        -webkit-text-stroke-color: #FFF;
        font-family: Noto serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 900;
        line-height: 100%;
        letter-spacing: 1.25px;
    }

    .text-item ul, .text-item li {
        color: #000;
        text-align: justify;
        font-family: Noto serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    #cloud1 {
        width: 100px;
        height: 34.542px;
        top: 350px;
        left: 40px;
    }

    #cloud2 {
        width: 100px;
        height: 34.542px;
        top: 36px;
        right: 40px;
    }

}
@media (max-width: 600px ) and (min-width: 300px) {
    .campus-ambassador-container {
        background-image: url('./assets/page3mobile.svg');
        background-size: cover;
        background-position: top;
        min-height: 100vh;
    }

    .text-frame {
      display: inline-flex;
      flex-direction: column;
      gap: 1px;
        margin-left: 20px;
        /*margin-top: 50px;*/
        width: 80%;
      max-height: 100vh;
    }

    .text-item {
        padding: 5px;
        border-radius: 12px;
        transition: transform 0.3s ease-in-out;
    }

    .text-item h1 {
        color: #303030;
        text-shadow: 8.593px 12.03px 3.437px rgba(0, 0, 0, 0.25);
        -webkit-text-stroke-width: 1.0099999904632568px;
        -webkit-text-stroke-color: #FFF;
        font-family: Noto serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 900;
        line-height: 100%;
        letter-spacing: 1.25px;
    }

    .text-item ul, .text-item li {
        color: #000;
        text-align: justify;
        font-family: Noto serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    #cloud1 {
        width: 100px;
        height: 34.542px;
        top: 350px;
        left: 40px;
    }

    #cloud2 {
        width: 100px;
        height: 34.542px;
        top: 36px;
        right: 40px;
    }

}


.hehe {
    height: 100vh;
    width: 100vw;
  background-size: cover;
    background-image: url('./assets/page3desktop.svg');
    /*background: #000;*/
  background-repeat: no-repeat;
  background-position: center;

}
