.main-container{
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('../Assets/profilebackground.png');
}
.container{
    height: calc(100vh - 72px - 3rem - 40px);
    padding-inline: 30px;
    display: flex;
    align-items: end;
    justify-content: space-evenly;
}
.banner{
    box-sizing: border-box;
    padding-top: 35px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.banner div{
    font-weight: bold;
    color: #DF3F39;
    font-size: xx-large;
}
.banner img{
    transform: scale(0.9);
}

.milestone-container{
    color: #6E6D6D;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    font-weight: bold;
}