@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap'); 
/* Add this to your CSS to prevent scrolling */
body {
  overflow: hidden;
  /* width: 100vw;
  height: 100vh; */
}

.landing2 {
  width: 100vw;
  height: 100vh;
  /* margin: -8px; */
  position: relative;
  overflow: hidden; 
  object-fit: cover;
}
img{
  max-height: 100%;
  max-width: 100%;
  object-fit:contain;
}

.bg_img_2 {
  width: 100vw;
  height: 100vh;
  object-fit:cover; 
  position:absolute; 
  top: 0;
  margin: 0;
 
}
.bgpart-2{
  width:100vw;
  height:100vh;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: end;
}
.bg_img_monumnet{
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.landing2-text-box{
  display: flex;
  justify-content: right;
  padding:5vh 5vw 0 0;
  position: relative;
  z-index: 2;
}
.landing2-text{
  width:50vw;
  font-size: 2.5vw;
  color: #535252;
  text-shadow: 8.135px 11.39px 3.254px rgb(132, 131, 131);
  -webkit-text-stroke-width: 2.847395896911621;
  -webkit-text-stroke-color: #FFF;
  font-family: Nashville-Serial;
  font-weight: 700 ;
}
.landing2-text h1{
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #FFF;
}
.scooter-div{
  display:flex;
  justify-content: left;
  padding:0 0 5vh 5vw;
  position: relative;
  z-index: 2;
}
.scooter-img-div{
  width:50vw;
  height:auto;

}
.scooter-img{
  width:40vw;
}