@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
.sansita-bold-italic {
  font-family: "Sansita", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.Landing2wrapper{
    /* background-image: url("../../Assets/background.webp"); */
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;

}
  
 .bg_img_2 {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

@keyframes slideInBottom {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes pause {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes moveUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50px);
  }
}

@keyframes moveLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50vw);
  }
}

@keyframes moveRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50vw);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

body {
  overflow: hidden;
}



.landing2 {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.landing2-text-box {
  display: flex;
  justify-content: right;
  padding: 5vh 5vw 0 5vw;
  position: relative;
  z-index: 2;
}

.landing2-text {
  width: 50%;
  font-size: 2rem;
  color: #535252;
  text-shadow: 8.135px 11.39px 3.254px rgb(132, 131, 131);
  -webkit-text-stroke-width: 2.847395896911621;
  -webkit-text-stroke-color: #FFF;
  font-family: Nashville-Serial;
  font-weight: 700;
  margin-left: 50px;
  opacity: 0;
}

.landing2-text h1 {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #FFF;
  padding-left: 5vw;
}

.landing2-details {
  width: 40%;
  display: flex;
  align-items: center;
  margin-left: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.landing2-details h1 {
  font-family: Karma;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  padding-right: 5vw;
}

.scooter-div {
  display: flex;
  justify-content: left;
  padding:0 0 0vh 5vw;
  z-index: 2;
  height: 100vh;
}

.scooter-img-div {
  width: 50vw;
  height: 100vh;
}

.scooter-img {
  width: 40vw;
  margin-top: -9vh;
}

.bg_img_2_mob {
  display: none;
}

.landing2-mobile {
  display: none;
}

.active .landing2-text {
  animation: slideInBottom 1s ease-out, pause 1s 0.5s, moveLeft 1s 1s;
  animation-fill-mode: forwards;
}

.active .landing2-details {
  animation: slideUp 1s ease-out 1.3s;
  animation-fill-mode: forwards;
}

.active .scooter-img-div {
  animation: moveRight 1s ease-out 1s;
  animation-fill-mode: forwards;
}

@media only screen and (max-width: 1030px) {
  .landing2-text {
    width: 65vw;
  }
}

@media only screen and (max-width: 932px) {
  .landing2-text {
    width: 70vw;
    animation: slideInBottom 1s ease-out;
  }
}

@media only screen and (max-width: 863px) {
  .landing2-text {
    width: 65vw;
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 800px) {
  .landing2-text {
    width: 70vw;
  }
}

@media only screen and (max-width: 768px) {
  .landing2 {
    display: none;
  }

  .bg_img_2 {
    display: none;
  }

  .bg_img_2_mob {
    display: block;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: fixed;
  }

  .landing2-text {
    width: 90vw;
  }

  .landing2-details {
    
  }

  .landing2-text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    position: relative;
    z-index: 2;
    flex-direction: column;
    /* transform: translateY(50px) */
  }

  .landing2-mobile {
    display: block;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }

  .landing2-text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10vh;
    height: 26vh;
    padding-top: 0;
    gap: 5vh;
  }

  .landing2-text {
    display: flex;
    justify-content: center;
    width: 70vw;
    height: auto;
    animation: slideInBottom 1s ease-out;
    margin-left: 0;
  }

  .land2text-img {
    opacity: 0;
  }

  .landing2-details {
    width: 90vw;
    margin: 4vh auto 0;
    padding: 0 5vw;
  }

  .landing2-details h1 {
    font-size: 11px;
    font-weight: 500;
    line-height: normal;
  }

  .land2text-img {
    width: 70vw;
    height: auto;
  }

  .scooter-div {
    margin-top: 31vh;
    height: 30vh;
  }

  .scooter-img-div {
    display: flex;
    align-items: baseline;
    height: 30vh;
  }

  .scooter-img {
    margin-top: auto;
  }

  .active .land2text-img {
    animation: slideUp 1s ease-in-out 0.3s;
    animation-fill-mode: forwards;
  }
  
  .active .landing2-details {
    animation: slideUp 1s ease-out 1.3s;
    animation-fill-mode: forwards;
  }
  
  .active .scooter-img-div {
    animation: moveRight 1s ease-out 1.3s;
    animation-fill-mode: forwards;
  }
}

@media only screen and (max-width: 530px) {
  .landing2-text {
    width: 100vw;
  }

  .land2text-img {
    width: 90vw;
  }
}
