@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

@keyframes slideInTop {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInBottom {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Add this to your CSS to prevent scrolling */
body {
  overflow: hidden;
  background-image: url("../../Assets/newPageLanding4.jpg");
  background-size: cover;
  background-position: center;
}

.bg_img {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  margin-top: 0;
  position: absolute;
}

.point_img {
  width: 70px;
  height: 70px;
}

.campus-ambassador-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.background-web {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

/* Text frame styling */
.text-frame {
    position: relative;
    z-index: 5;
    margin-left: 50px;
    margin-top: 150px;
    margin-bottom: 50px;
    display: inline-flex;
    flex-direction: column;
    /* gap: 10px; */
    height: 100%;
    width: 50vw;
}

.whatdoweoffer {
  width: 60vw;
  margin-bottom: 2vh;
}

.text-items {
  display: flex;
  gap: 0.5vh;
  flex-direction: column;
}

.text-item {
  opacity: 0;
  display: flex;
  align-items: center;
  gap: 2vw;
  font-size: large;
  font-family: Karma;
}

.active .text-item {
  animation: slideInBottom 1s ease-out forwards;
}

.active .text-item:nth-child(1) {
  animation-delay: 0.3s;
}

.active .text-item:nth-child(2) {
  animation-delay: 0.6s;
}

.active .text-item:nth-child(3) {
  animation-delay: 0.9s;
}

.active .text-item:nth-child(4) {
  animation-delay: 1.2s;
}

.active .text-item:nth-child(5) {
  animation-delay: 1.5s;
}

.text-item:hover {
    transform: translateY(-5px);
}

.text-item h1 {
    color: #000;
    text-shadow: 8.593px 12.03px 3.437px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1.807px;
    -webkit-text-stroke-color: #FFF;
    font-family: Noto serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: 2.148px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.text-item ul,
.text-item li {
    color: #000;
    text-align: justify;
    font-family: Noto serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 2px;
    margin-bottom: 2px;
}

#certificate-text,
#leadershipQualities-text,
#freeEntry-text,
#internshipOpportunity-text,
#workshops-text {
    width: 100%;
}

/* Cloud image styling */
#cloud1,
#cloud2 {
    stroke-width: 3.437px;
    stroke: #595959;
    position: absolute;
}

#cloud1 {
    width: 167.556px;
    height: 57.57px;
    top: 89.4px;
    left: 668px;
}

#cloud2 {
    width: 100px;
    height: 35.57px;
    top: 52px;
    right: 380px;
}

.background-mob {
  display: none;
}

/* Media query for mobile view */
@media (max-width: 768px) {
    .background-web {
      display: none;
    }
    .background-mob {
      display: block;
      position: absolute;
      height: 100vh;
      width: 100vw;
    }
    .whatdoweoffer {
      display: none;
    }
    .campus-ambassador-container {
        background-image: url('../../Assets/page3mobile.webp');
        background-size: cover;
        background-position: center;
        min-height: 100vh;
    }

    .text-frame {
        margin-left: 20px;
        margin-top: 50px;
        width: 90%;
    }
    .text-items {
      gap: 3vh;
      margin-top: 5vh;
    }
    .point_img {
      width: 40px;
      height: 40px;
    }

    .text-item {
        /* padding: 10px; */
        font-size: medium;
        border-radius: 12px;
        transition: transform 0.3s ease-in-out;
    }

    .text-item h1 {
        color: #303030;
        text-shadow: 8.593px 12.03px 3.437px rgba(0, 0, 0, 0.25);
        -webkit-text-stroke-width: 1.01px;
        -webkit-text-stroke-color: #FFF;
        font-family: Noto serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 900;
        line-height: 100%;
        letter-spacing: 1.25px;
    }

    .text-item ul,
    .text-item li {
        color: #000;
        text-align: justify;
        font-family: Noto serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .text-item p {
      font-size: small;
      margin: 0;
    }

    #cloud1 {
        width: 100px;
        height: 34.542px;
        top: 550px;
        left: 40px;
    }

    #cloud2 {
        width: 100px;
        height: 34.542px;
        top: 36px;
        right: 40px;
    }
}
