@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

@keyframes slideInTop {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInBottom {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Add this to your CSS to prevent scrolling */
body {
  overflow: hidden;
  background-image: url("../../Assets/newPageLanding4.jpg");
  background-size: cover;
  background-position: center;
}

.bg_img {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  margin-top: 0;
  position: absolute;
}

.campus-ambassador-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.text-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}

.text-item {
  margin: 20px;
  opacity: 0;
}

.active .text-item {
  animation: slideInBottom 1s ease-out forwards;
}

.active .text-item:nth-child(1) {
  animation-delay: 0.5s;
}

.active .text-item:nth-child(2) {
  animation-delay: 1s;
}

.active .text-item:nth-child(3) {
  animation-delay: 1.5s;
}

.active .text-item:nth-child(4) {
  animation-delay: 2s;
}

.active .text-item:nth-child(5) {
  animation-delay: 2.5s;
}
