.sansita-bold-italic {
    font-family: "Sansita", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

.hero_wrapper{
    background-image: url("../../Assets/landing1.svg");
    background-size:cover;
    background-position:50% bottom;
    background-repeat: no-repeat;
    height: 90vh;
    
    /* overflow: hidden;
    overflow-y: hidden; */
    /* height: 100vw; */
    margin: 0;
    padding: 0;
}

.hero_content{
    display: grid;
    place-content: center;
    text-align: center;
    line-height: 0;
    margin-top: 0vw;
    font-size: 4vw;
    color: #535252;
    text-shadow: 0.35vw 0.3vw 0px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 0.1vw;
    -webkit-text-stroke-color: #FFF;
    font-weight: bolder;
    font-stretch: expanded;
    letter-spacing: 0.24506rem;

}

.hero-reg{
    border-radius: 0.5rem;
    border: 0.25vw solid #515151;
    background: #FFF;
    /* box-shadow: 0.4vw 0.7vw 0px 0px rgba(0, 0, 0, 0.25); */
    margin-top: 1.5vw;
    color: #515151;
    /* font-family: "NashvilleSerial-Bold"; */
    font-size: 1.5vw;
    font-style: normal;
    /* font-weight: 700; */
    line-height: 100%;
    letter-spacing: 0.10506rem;
    padding: 0.7vw 1vw;
}

.hero-reg:hover{
    cursor: pointer;
    transform: scale(1.02);
    background-color: #515151;
    color: #FFF;
    border-color: #FFF;
}

.hero-reg:active{
    transform: scale(0.97);
}

.program-text{
    margin: 0;
    padding: 0;
}

.hero-reg-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 2vw;
}

.clouds-landing{
    display: block;
    height: 28vh;
    width: 100vw;
    justify-content: stretch;
    margin-top: -2vw;

}

.hero_image{
    position:absolute;
    /* object-fit: cover; */
    height: 100vh;
    width: 100vw;
}

/* .landingImage{

    z-index: -2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: fill;
    min-height: calc(100%-85px);
    min-width: 100%;
    background-position: center;

    /* object-fit: fill; */
    /* overflow-y: hidden;
    overflow-x: hidden; */
    /* margin-left: -1.5vw; */
    /* display: none; */
    /* margin-top: -28vh; */

.hero-img img{
    
    width: 100vw;
}