.Nav-Wrapper {
    /* background-image: url("../../Assets/background.svg"); */
    display: flex;
    justify-content: space-between;
    /* padding: 0 1vw; */
    align-items: center;
    /* width: 100vw; */
    overflow: hidden;
    height: 10vh;

}

.nav-logo-div {
    /* width:8vw; */
    margin-left: 3vw;
    overflow: hidden;
}

.nav-logo-div img {
    width: 8vw
        /* overflow: hidden; */
}

.login-nav {
    /* flex:1;
    height: 100%; */
}

@media only screen and (max-width: 768px) {
    .nav-logo-div{
        width: 20vw;
    }
    .nav-logo-div img{
        width: 69px;
    }
}