

/* @import url('../public/fonts/Nashville-Serial-Regular.ttf'); */
@font-face {
    font-family: 'Nashville Serial';
    src: url('/public/fonts/Nashville-Serial\ Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */