*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  /* background-image:url("./assets/background2.svg") ;
  background-repeat: no-repeat;
 background-size: cover;

  height: 1024px; */
  /* width: 1000px; */
  /* overflow-y: scroll; */

}