@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap'); 
/* Add this to your CSS to prevent scrolling */
body {
  overflow: hidden;
  /* width: 100vw;
  height: 100vh; */
}
.bg_img_4 {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  margin-top:0;
  position: fixed;
 
}

.landing4 {
  width: 100vw;
  height: 100vh;
  /* margin: -8px; */
  position: relative;
  overflow: hidden; 
  object-fit: cover;
}
.clouds .landing4mobile img{
  max-height: 100%;
  max-width: 100%;
  /* object-fit:contain; */
}


.text-div{
  width:100vw;
  display: flex;
  justify-content: center;
  margin-top:10vh;
}
.head-text{
  position: relative;
  z-index: 1;
  /* color:#535353; */
  display: flex;
  justify-content: center;
  align-items: center;
  width:80vw;
  /* font-size: 5vw; */
  /* text-shadow: 5px 0 #ffffff, 0 5px #ffffff, 5px 0 #ffffff, 0 -5px #ffffff; */
  /* text-shadow: 6px 0 #aeacac, 0 6px #aeacac,2px 0 #aeacac, 0 -2px #aeacac; */
  /* -webkit-text-stroke: 3px #ffffff;  */
}
.reg-button-div{
  margin-top: 7vh;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  filter: drop-shadow(8px 8px 0px rgba(0, 0, 0, 0.4));
}
.reg-button{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border-style: solid;
  border-width: 5px;
  border-color: #515151;
  width: 18vw;
  height: 9vh;
  font-size: 2.2vw;
  font-family: Nashville-Serial;
  font-weight: 700;
  color: #515151;
}
.reg-button:hover{
  cursor: pointer;
}
/* .clouds{
  position: relative;
  z-index: 2;
} */
.cloud4-1{
  position: relative;
  z-index: 2;
  width: 12vw;
  margin :-12vh 0 0 6vw;
}
.cloud4-2{
  position: relative;
  z-index: 2;
  width: 6vw;
  margin :-6vh 0 -5vh 11vw;
}
.cloud4-3{
  position: relative;
  z-index: 2;
  width: 9vw;
  margin :-30vh 0 11vh 70vw;
}
.cloud4-4{
  position: relative;
  z-index: 2;
  width: 12vw;
  margin :-30vh 0 0 84vw;
}
.landing4mobile{
  display: none;
}
.bg-mob-4{
  display: none;
}
.head-text-mob{
  display: none;
}
  @media only screen and (max-width:768px){
  .landing4{
    display: none;
  }
  .bg_img_4{
    display: none;
  }
  .landing4mobile{
    display: block;
  }
  .landing4mobile{
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
  }
  .bg-mob-4 {
    display: block;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    margin-top:0;
    position: fixed;
  }
  .head-text{
    display: none;
  }
  .head-text-mob{
    display: block;
    position: relative;
    z-index: 5;
    /* color:#535353; */
    display: flex;
    justify-content: center;
    align-items: center;
    width:70vw;
  }
  .cloud4-2 {
    position: relative;
    z-index: 2;
    width: 13vw;
    margin: -6vh 0 -5vh 11vw;
  }
  .cloud4-1{
    position: relative;
    z-index: 2;
    width: 21vw;
    margin :4vh 0 0 61vw;
  }
  .text-div{
    margin-top: 5vh;
  }
  .reg-button{
    width: 35vw;
    font-size: 4.2vw;
  }
  
  
}