@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap');
.profilecard-container {
    box-shadow: 10px 10px 3px 0px rgba(0, 0, 0, 0.25);
    padding: 20px 15px;
    height: 60vh;
    min-height: 500px;
    /*width: 30vw;*/
    width: 400px;
    color: white;
    background: #74005A;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-sizing: border-box;
    font-family: Karma;

}


.profilecard-referral {
    /*padding-left: 20px;*/
    display: flex;
    margin: 0px auto;
    background: white;
    width: 160px;
    flex-direction: column;
    border-radius: 5px;
    border: 2px #212121 solid;
    padding: 5px 10px;
    gap: 7px;
}

.profilecard-referral-text {
    font-family: Karma;
    color: #212121;
    font-size: small;
    margin: 0;
}

.profilecard-referral-code {
    color: #965BD6;
    font-size: medium;
    display: flex;
    justify-content: space-between;
}

.profilecard-referral-code p {
    margin: 0;
}
.profilecard-referral-code img{
    width: 20px;
    margin-left: 5px;
}

.profilecard-name {
    font-size: xx-large;
    font-weight: 600;
    margin: 50px 0 30px;
}

.profilecard-details {
    padding: 15px;
    padding-bottom: 0;
    font-size: smaller;
}

.profilecard-details-div {
    margin-bottom: 15px;
}

.profilecard-details-head {
    text-decoration: underline;
    font-size: small;
    font-weight: 700;
    margin-bottom: 10px;
}

.profilecard-details-text {
    display: flex;
    gap: 50px;
}

.items-head {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inputbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.inputbox input {
    background: #74005A;
    border: 2px white solid;
    color: white;
    border-radius: 5px;
}

.inputbox button {
    background: limegreen;
    border: 2px white solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    padding: 3.5px;
}
.profilecard-button2 img{
    width: 35px;
}


@media only screen and (max-width: 500px) {
    .profilecard-container {
        width: 300px;
        height: 100%;
        position: relative;
    }

    .profilecard-userimg img {
        width: 80px;
        border: 4px solid #a52a2a;
        border-radius: 100%;
    }
    .large-view{
        display: none;
    }
    .profilecard-top-section{
        /*gap: 15px;*/
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .profilecard-topright-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .profilecard-name{
        margin-bottom: 10px;
        font-size: x-large;
        margin-top: 0;
    }
    .profilecard-referral{
        width: 80%;
        margin: 0;
    }
    .profilecard-button1{
        position: absolute;
        bottom: 15px;
        right: 55px;
    }
    .profilecard-button2{
        position: absolute;
        bottom: 10px;
        right: 15px;
    }
    .items{
        /*width: 100%;*/
        justify-content: space-evenly;
    }
    .profilecard-buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

}

@media only screen and (min-width: 1600px){
    .profilecard-container{
        width: 30vw;
    }
    .profilecard-referral{
        width: 50%;
    }
}

@media only screen and (min-width: 500px) {
    .small-view{
        display: none;
    }
    .profilecard-container {
        position: relative;
    }

    .profilecard-userimg {
        border-radius: 100%;
        border: brown 4px solid;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -8%;
        left: -8%;
        padding: 0;
    }

    .profilecard-userimg img {
        width: 130px;
    }
}
@media only screen and (max-width: 375px){
    .profilecard-container{
        width: 250px;
    }
    .profile-card-phoneinput{
        width: 100px;
    }
}